# Dependencias
node_modules/
BackEnd/node_modules/
FrontEnd/node_modules/

# Variables de entorno
.env
.env.local
.env.production

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
*.tmp
*.temp

# Configuración local
*.local